form{
    text-align: center;
    
}
h2{
    text-align: center;
    font-weight: bold;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAGaCB3bbdvMzfukT3WgrR70_m-MZnSqRWfQ&s");
    background-size: cover;
}

